* { margin: 0; padding: 0; border: 0; }

body {
	background: #000;
	font-size:0.7em;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

* { outline: none }

/* Common styles
-------------------------------------------------------- */
h2, h3 { color:#696969; }
ul { list-style: none; }
ul li { list-style: none; }

a, a:link, a:hover { color:#0066CC; text-decoration: none; border:0 !important; }
a:hover { text-decoration: none; border-bottom:1px solid #0066CC;}
/*a:visited { color:#333333;}*/

pre { overflow: auto; width: 100%; height: auto; }
.left { float: left; }
.right { float: right; }

img{ border: 0; }

/* Stuffs
-------------------------------------------------------- */
.middle_block { width: auto !important; }

/* Infos Errors
-------------------------------------------------------- */
.infos, .errors {
  margin: 20px;
  height: 30px;
}

/* Page
-------------------------------------------------------- */
BODY#thePicturePage,BODY#theCategoryPage, BODY#theTagsPage {}

#the_page {
	width: 940px;
	margin: 0 auto;
	background: transparent url(img/background.jpg) repeat-y top center;
}

.content div.titrePage { padding: 10px 3px; }

/* Header
-------------------------------------------------------- */
#theHeader {
	background: transparent url(img/header.jpg) no-repeat center bottom;
	height: 200px;
	margin: 0 auto;
	position:relative;
}

#theHeader h1 { 
	font-size: 2em; 
	margin: 0;
	/*	padding: 170px 34px 0 34px; */
	color: #fff; 
	text-align: left; 
	position: absolute;
	left: 30px;
	top: 170px;
}

#theHeader p {display:none;}

.content, BODY#theAdminPage .content, BODY#theTagsPage .content {
	width: 860px;
	margin: 0 auto !important;
}

/*=========================================================================================*/

.row1 { background-color: #999;}
.throw { background-color: #999;}

/*	Page Catégories
-----------------------------------------------------------------------------------------------*/
.content div.thumbnailCategory { 
	padding: 2px; 
/*	text-align: center;    */
}
.content div.thumbnailCategory:hover {
	border:1px solid #0066cc;
	background-color: #eee;
}
.content ul.thumbnailCategories li { width:49.9%; }

/*	Page Image
-----------------------------------------------------------------------------------------------*/

#imageToolBar, #imageHeaderBar {
	width: 860px;
	margin: 10px auto;
}
#imageHeaderBar{
	background: #F5F5F5;
	border: 1px solid #CDCDCD;
	border-width: 1px 0;
	padding: 5px 8px;
}

#theImage IMG {
  padding: 5px;
  border: 1px solid #aaa;
}

#theImage p {
  padding: 20px;
}

#imageHeaderBar H2 { 
	border: none;
	clear: both;
	padding: 0;
	text-align: center;
	padding: 0.5em 0 0 0;
}
#imageHeaderBar .browsePath a { color:#0066CC; text-decoration: none; }
#imageHeaderBar .browsePath a:hover { color:#333333; }

#imageToolBar .imageNumber {
  margin-top: -30px;
}

.infoTable{ margin: 20px auto; }
#linkPrev{ margin: 20px 0 0 20px; }
#linkNext{ margin: 20px 20px 0 0;}
a#thumbPrev, a#thumbNext { text-decoration: none; border:0; }

#addComment label { width: 100%; margin-top: 1em; }

/*	commentaires
-----------------------------------------------------------------------------------------------*/

#comments{ width: 860px; margin: 20px auto; }
#comments DIV.comment BLOCKQUOTE { border: 1px solid #5f5f5f; border-left: 2px solid #696969; }

FIELDSET, INPUT, SELECT, TEXTAREA, TABLE.table2, #infos,
.content DIV.comment  A.illustration IMG, .content DIV.thumbnailCategory { border: 1px solid gray; }
#comments ul.thumbnailCategories li { margin: 5px auto; }

textarea { width: 100%; }

/*	miniatures
-----------------------------------------------------------------------------------------------*/
.content UL.thumbnails SPAN, .content UL.thumbnails SPAN.wrap2 A,

.content DIV.thumbnailCategory DIV.illustration a:hover { border:0; }

.content DIV.comment BLOCKQUOTE {
  margin-left: 172px;	/*maximum thumbnail width + ~10px */
}
.content DIV.thumbnailCategory DIV.description  p { text-align: left; }

/*.content ul.thumbnails span.wrap1 { margin: 0 10px; }*/
.content UL.thumbnails SPAN.wrap2 img { padding: 5px; border: 1px solid #ccc; }
.content UL.thumbnails SPAN.wrap2 img:hover { border-color: #06c; }

.content UL.thumbnails LI.thumbCat SPAN.wrap2 { border-style: hidden; background-color: #ccccaa; }
.content UL.thumbnails LI.thumbCat SPAN.wrap2:hover { border-style: solid; }

.content ul.thumbnails span.thumbLegend {
/*    height: auto;*/
    padding: 0.5em 0;
}
.zero { display: none }
.nb-hits { color: #69c; }
.nb-comments { color: #f92; }
}

/*	Menu
-----------------------------------------------------------------------------------------------*/

#menubar { position: relative; z-index: 2; }
.content { z-index: 1; }

.content div.thumbnailCategory div.description {
	overflow: hidden; /* bug in FF 1.0 (not 1.5) */
}

/* horizontal menubar */
#menubar, BODY#theAdminPage #menubar {
	float: none;
	width: 898px;
	margin: 5px auto;
	border: none;
	display: block;
}

/* Filter button */
#menubar .button {float:right;} 
#menubar P, #menubar P.totalImages{ clear: both; margin: 0; text-align: center; padding: 0.2em }
#mbCategories .menubarFilter {display:none;}

/* set menubar height (not for IE) */
#the_page > #menubar, BODY#theAdminPage #the_page > #menubar {
  height: 2.1em;
  padding: 0;
}
#menubar DL>DT {
  padding: 0.2em 0.4em;
}

/* general UL formating */
#menubar UL, #menubar DL, #menubar UL#menuTagCloud {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}
#menubar DL { display: inline; padding: 0 2.1em; }
BODY#theAdminPage #the_page > #menubar DL { padding: 0 0.5em;}

#menubar UL {  width: 20em; }
#menubar ul li a {  padding-right: 3em; }

#menubar P, #menubar P.totalImages, FORM#quickconnect {
  clear: both;
  margin: 0;
  text-align: center;
  padding: 0.2em;
}

/* titles and links */
#menubar A, #menubar DT { display: block; }

/* positioning */
#menubar LI { position: relative;}
#menubar DD { position: absolute; z-index: 500;}
#menubar DD UL UL {
  position: absolute;
  top: 0px;
  left: 100%;
  z-index: 500;
}
#menubar LI SPAN,#menubar LI IMG { position: absolute; top: 0;}
#menubar LI SPAN { right: 7px;}
#menubar LI IMG { right: 3em;}

/* hiding and revealing up to 6 menu levels */
DIV#menubar DD,
DIV#menubar UL UL,
DIV#menubar UL LI:hover UL UL,
DIV#menubar UL UL LI:hover UL UL,
DIV#menubar UL UL UL LI:hover UL UL,
DIV#menubar UL UL UL UL LI:hover UL UL { display: none; }

DIV#menubar DL:hover DD,
DIV#menubar UL LI:hover UL,
DIV#menubar UL UL LI:hover UL,
DIV#menubar UL UL UL LI:hover UL,
DIV#menubar UL UL UL UL LI:hover UL,
DIV#menubar UL UL UL UL UL LI:hover UL { display: block; }

/* styles */
#menubar, #menubar DT, #menubar DD, #menubar UL {
	background-color: #666;
	color: #FFF;
	border: 0;
}
#menubar a, #menubar DT a, #menubar DD a { 
	color: #fff; 
	display: block; 
	text-decoration: none; 
	border: 0;
}

#menubar A:hover { color: #fff; }
#menubar DD A { padding: 0.5em; }
#menubar DD A:hover { background-color: #999; }

FORM#quicksearch { width: 220px; }

/*	quickconnect
-----------------------------------------------------------------------------------------------*/
FORM#quickconnect FIELDSET { text-align: left; width: 220px; padding-top: 5px;}
FORM#quickconnect LABEL { clear: left; /*margin: 0;*/ }
FORM#quickconnect LABEL INPUT { font-size: 1em; /*width: 15em;*/ }
FORM#quickconnect P, FORM#quickconnect A { border: none; padding: 0; }
FORM#quickconnect .button { position:relative; top: -20x; left: 50px}

/*	menuTagCloud
-----------------------------------------------------------------------------------------------*/

#menubar #menuTagCloud a { display: inline; }
#menubar #menuTagCloud span {
  display: block;
  padding: 0.5em 0;
  text-align: left;
}

/* Tags - Page des tags
-------------------------------------------------------- */

ul#fullTagCloud {
	position: relative;
	border: 1px solid #E8E8E8;
	border-width: 1px 0;
	background: #FBFBFB;
	padding: 5px;
	margin: 8px 0 20px 0;
	overflow: hidden;
	height: 100%;
	font-size: 120%;
}
	ul#fullTagCloud li {
		display: block;
		float: left;
		margin: 4px;
		padding: 1px 5px;
		height: 18px;
		line-height: 18px;
		background: none;
	}
	ul#fullTagCloud li a:link, ul#fullTagCloud li a:visited {
		color: #005D99;
		text-decoration: none;
		white-space: nowrap;
	}
	ul#fullTagCloud li a:hover { text-decoration: underline; border: 0; }
	ul#fullTagCloud li a:focus, ul#fullTagCloud li a:active { background: #005D99; color: #FFF; }

.tagLevel5 { font-size:160%; }
.tagLevel4 { font-size:140%; }
.tagLevel3 { font-size:120%; }
.tagLevel2 { font-size:100%; }
.tagLevel1 { font-size:80%; }

#theTagsPage fieldset.tagLetter { width:181px; }

/* others */
.pleaseNote {
	margin: 20px auto;
	width: 700px;
    background: #eee;
    color: #ff9b00;
	border: 1px solid #ff9b00;
    padding: 1ex;
    font-weight: bold;
}

.header_notes { background-position:left center; padding: 5px 0px; }

li.categoryLi {
	float:left;
	margin:2px;
	width:46%;
}

input.rateButton { color: #369; }
input.rateButtonSelected { color:#696969; }
INPUT.rateButton:hover { color: #858460;}

/*	calendar
-----------------------------------------------------------------------------------------------*/

UL.categoryActions, DIV.calendarViews {
  padding-top: 5px;
  padding-right: 6px;
}

/*calendar elements*/
SPAN.calItemEmpty { color: silver; }

SPAN.calItem, SPAN.calItemEmpty { border: 1px solid gray; }

/* nice looking month calendar*/
TD.calDayCellEmpty, TD.calDayCellFull { border: 1px solid gray;}

TD.calDayCellEmpty { color: silver; }

.calBackDate { color: #000; }
.calForeDate { color: #fff; }

/* Footer
-------------------------------------------------------- */
#copyright {
	background: /*transparent*/ url(img/footer.jpg) no-repeat center bottom;
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
	font-weight: bold;
}
#copyright a:link, #copyright a:visited { text-decoration: underline; color: #000; }
#copyright a:hover { text-decoration: none; color: #000; border: 0; }

/* About page */
#piwigoAbout UL { margin: 15px 0; }


A:hover .pwg-icon {
  background-image: url(icon/icons_sprite_hover.png);
}

.pwg-icon {
  background-image: url(icon/icons_sprite.png);
}

.browsePath .button {margin-left:2px}
h2 .button {margin-left:2px;margin-bottom:2px}

#thePicturePage #derivativeSwitchLink {display:none;}
#thePicturePage .contentWithMenu {margin-left:0;}

.switchBox, #languageSwitchBox {
  background-color: #fff !important;
  border: 1px solid #ccc !important;
  border-radius:0 !important;
}

.switchBoxTitle, #languageSwitchBox .switchBoxTitle {
  border-bottom:1px solid #ccc !important;
}

#languageSwitchBox a {
  color: #000 !important;
}

#languageSwitchBox a:hover {
  color: #0066CC !important;
}
